*, *::before, *::after {
    box-sizing: border-box;
    font-family: comic sans ms, papyrus;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: #48cae4;
}
#page-container {
    display: grid;
    justify-content: center;
}
#header-container {
    display: grid;
    justify-content: center;
    font-size: 30px;
}

#button-container {
    display: grid;
    justify-content: center;
    background-color: slategray;    
    border-radius: 3%;
    grid-template-columns: repeat(4, 93px);
    grid-auto-rows: 90px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-areas:
    "display display display display"
    "btnclear btndelete btnpercent btnadd"
    "btn7 btn8 btn9 btnsubtract"
    "btn4 btn5 btn6 btnmultiply"
    "btn1 btn2 btn3 btndivide"
    "btndecimal btn0 btnequal btnequal"
}
.display-container {
    position: relative;
    grid-area: display;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid black;
    border-radius: 3%;
    
}
.previous-number {
    position: absolute;
    bottom: 65px;
    right: 0px;
    margin-right: 5px;
    color: rgba(255, 255, 255, .75);
}
.current-number {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 45px;
    margin-right: 5px;
    color: rgba(255, 255, 255, 1);
}

#button-container > button {
    font-size: 1rem;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border-radius: 3%;
}

#button-container > button:hover {
    color: blue;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.btn-clear {
    grid-area: btnclear;
}
.btn-negative {
    grid-area: btnnegative;
}
.btn-percent {
    grid-area: btnpercent;
}
.btn-delete {
    grid-area: btndelete;
}
.btn-add {
    grid-area: btnadd;
}
.btn-subtract {
    grid-area: btnsubtract;
}
.btn-multiply {
    grid-area: btnmultiply;
}
.btn-divide {
    grid-area: btndivide;
}
.btn-equal {
    grid-area: btnequal;
}
.btn-decimal {
    grid-area: btndecimal;
}
.btn9 {
    grid-area: btn9;
}
.btn8 {
    grid-area: btn8;
}
.btn7 {
    grid-area: btn7;
}
.btn6 {
    grid-area: btn6;
}
.btn5 {
    grid-area: btn5;
}
.btn4 {
    grid-area: btn4;
}
.btn3 {
    grid-area: btn3;
}
.btn2 {
    grid-area: btn2;
}
.btn1 {
    grid-area: btn1;
}
.btn0 {
    grid-area: btn0
}
